---
import Analytics from '@vercel/analytics/astro';
---

<script>
    import 'uaslp-ui-kit';
</script>
<html lang="en">
	<head>
    <meta charset="utf-8" />
    <Analytics />
	</head>
	<body>
  </body>
</html>