---
import Analytics from '@vercel/analytics/astro';
---

<script>
    import 'uaslp-ui-kit';
</script>
<html lang="en">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="icon" type="image/png" href="/public/img/favicon/favicon-96x96.png" sizes="96x96" />-->
    <!--<link rel="icon" type="image/svg+xml" href="./public/img/favicon/favicon.svg" />-->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon.png" />-->
    <!--<meta name="apple-mobile-web-app-title" content="UASLP UI Kit" />-->
    <!--<link rel="manifest" href="/public/img/favicon/site.webmanifest" /> -->
    <Analytics />
	</head>
	<body>
  </body>
</html>